
<h1 class="text-center">请假管理系统</p></h1>

<table class="table table-hover table-bordered table-condensed">
			<thead>
					<tr class="warning">
						<th class="text-center">
							ID
						</th>
						<th class="text-center">
						申请人
						</th>
						<th class="text-center">
						申请原因
						</th>
						<th class="text-center">
							开始时间
						</th>
            <th class="text-center">
							结束时间
						</th>
            <th class="text-center">
              状态
            </th>
            <th class="text-center">
              管理员备注
            </th>
            <th class="text-center">
              申请时间
            </th>
					</tr>
			</thead>
        <% @applications.each do |application|%>
			    <tbody>
           <tr>
						<td>
							<%= application.id %>
						</td>
						<td>
							<%= application.user.name %>
						</td>
						<td>
							<%= application.application_reasons %>
						</td>
						<td>
							<%= application.start_day.to_formatted_s(:db) %>
						</td>
            <td>
              <%= application.end_day.to_formatted_s(:db) %>
            </td>
            <td>
              <% if application.status == "申请中" && @current_user.is_admin? %>
              <%= link_to "同意",application_path(application.id, application: {status: "已同意"}),method: :patch, class: "text-info" %>
              <%= link_to "拒绝",application_path(application.id, application: {status: "已拒绝"}),method: :patch, class: "text-info"%>
              <% else %>
              <%= application.status %>
              <% end %>
            </td>
            <td>
								<%= application.admin_comments %>
								<% if @current_user.is_admin? %>
							<%= link_to "备注",edit_application_path(application.id),class: "text-info" %>
							<% end %>
            </td>
            <td>
              <span class="timeinfo"><%= application.created_at.to_formatted_s(:db) %> </span>
            </td>
					</tr>
          <% end %>
				</tbody>

			</table>
  <div class="text-center">
	<%= will_paginate @applications %>
  </div>
