<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
          <h1>新建申请</h1>
          <p class="text-center">
          <%= form_for(@application) do |f| %>
            <div class="field">
              <%= f.label :开始时间 %>
              <%= f.date_select :start_day,use_month_numbers: true %>
            </div>
            <div class="field">
              <%= f.label :结束时间 %>
              <%= f.date_select :end_day,use_month_numbers: true %>
            </div>
            <div class="field">
              <%= f.label :请假原因 %>
              <%= f.text_field :application_reasons %>
            </div>
            <div class="actions">
              <%= f.submit "提交申请"%>
            </div>
          <% end %>
        </p>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
