<%= form_for(user) do |f| %>
  <% if flash[:notice] %>
    <p class="box notice"> <%= flash[:notice] %> </p>
  <% elsif flash[:error] %>
    <p class="box error"> <%= flash[:error] %> </p>
  <% end %>

  <div class="field">
    <%= f.label :姓名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :密码 %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :邮箱 %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
