<%= form_for(user) do |f| %>
  <%= f.label :姓名 %>
  <%= f.text_field :name %>
  <%= f.label :邮箱 %>
  <%= f.text_field :email %>
  <%= f.label :密码 %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "确认密码" %>
  <%= f.password_field :password_confirmation %>
  <div class="actions">
    <%= f.submit "提交"%>
  </div>
<% end %>
