<%= form_for(user) do |f| %>
  <% if flash[:notice] %>
    <p class="box notice"> <%= flash[:notice] %> </p>
  <% elsif flash[:error] %>
    <p class="box error"> <%= flash[:error] %> </p>
  <% end %>

  <%= f.label :姓名 %>
  <%= f.text_field :name %>
  <%= f.label :邮箱 %>
  <%= f.text_field :email %>
  <%= f.label :密码 %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "确认密码" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "提交", class: "btn btn-large btn-primary" %>

<% end %>
