<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
          <p class="text-center">
            <h1>修改资料</h1>
            <p>
              <strong>姓名:</strong>
              <%= @user.name %>
            </p>
            <p>
              <strong>邮箱:</strong>
              <%= @user.email %>
            </p>

            <%= form_for(@user) do |f| %>

              <%= f.label :姓名 %>
              <%= f.text_field :name %>
              <%= f.label :邮箱 %>
              <%= f.text_field :email %>
              <%= f.label :密码 %>
              <%= f.password_field :password %>
              <%= f.label :password_confirmation, "确认密码" %>
              <%= f.password_field :password_confirmation %>
              <div class="actions">
                <%= f.submit "提交"%>
              </div>
            <% end %>
        </p>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
