<!DOCTYPE html>
<html>
  <head>
    <title>请假管理系统</title>
    <%= csrf_meta_tags %>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    	<div class="row clearfix">
    		<div class="col-md-12 column">
    			<nav class="navbar navbar-default" role="navigation">
    				<div class="navbar-header">
    					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">首页</a>
    				</div>
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    					<ul class="nav navbar-nav">
                <li>
    						<%= link_to "新建申请",new_application_path%>
                </li>
    					</ul>
    					<form class="navbar-form navbar-left" role="search">
    						<div class="form-group">
    							<input type="text" class="form-control" />
    						</div> <button type="submit" class="btn btn-default">Submit</button>
    					</form>


                <ul class="nav navbar-nav navbar-right">
                  <% if @current_user&&@current_user.is_admin? %>
                  <li>
                   <%= link_to "用户列表",users_path %>
                  </li>
                <% end %>
              <li class="dropdown">
                <% if !logined?%>
                <%= link_to "登录", login_path %>
                <% else %>
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<strong class="caret"></strong></a>
                   <ul class="dropdown-menu">
                  <li>
                    <%= link_to "修改资料",edit_user_path(@current_user)%>
                  </li>
                  <li>
                    <%= link_to "个人资料",user_path(@current_user)%>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                     <%= link_to "退出登录",logout_path, method: "delete"%>
                  </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
      <p id="notice"><%= notice %></p>
      <%= yield %>
  </div>
</body>
</html>
